---
---

<div class="timeline">
  <slot />
</div>

<style>
  .timeline ul {
    list-style-type: none;
    padding-left: 0em;
  }

  .timeline ul li {
    margin-bottom: 1.5em;
  }

  .timeline time {
    color: #aaa;
    font-weight: bold;
    padding-right: 1em;
  }

  .timeline li p:not(:first-child) {
    padding-left: 2em;
    margin-top: 0.5em;
  }
</style>
